In [5]:
import pandas as pd
import numpy as np

In [31]:
df_titles = pd.read_csv("./movies/title.basics.tsv", sep = "\t", encoding = "ISO-8859-1")
df_titles = df_titles[["tconst", "primaryTitle"]]
df_titles.columns = ["movieId:ID", "name"]
df_titles[":LABEL"] = "Movie"

In [31]:
df_titles.to_csv("./movies/title.basics.csv", index=False)
df_titles.head(5)

In [6]:
df_names = pd.read_csv("./movies/name.basics.tsv", sep = "\t", encoding = "ISO-8859-1")
df_names = df_names[["nconst", "primaryName"]]
df_names.columns = ["personId:ID", "name"]
df_names[":LABEL"] = "Actor"

In [7]:
df_names.to_csv("./movies/name.basics.csv", index=False)
df_names.head(5)

  personId:ID             name :LABEL
0   nm0000001     Fred Astaire  Actor
1   nm0000002    Lauren Bacall  Actor
2   nm0000003  Brigitte Bardot  Actor
3   nm0000004     John Belushi  Actor
4   nm0000005   Ingmar Bergman  Actor

In [3]:
df_title_principals = pd.read_csv("./movies/title.principals.tsv", sep = "\t", encoding = "ISO-8859-1")
df_title_principals = df_title_principals[["tconst", "nconst"]]
df_title_principals.columns = [":START_ID", ":END_ID"]
df_title_principals[":TYPE"] = "ACTED_IN"

In [4]:
df_title_principals.to_csv("./movies/title.principals.csv", index=False)
df_title_principals.head(5)

   :START_ID    :END_ID     :TYPE
0  tt0000001  nm1588970  ACTED_IN
1  tt0000001  nm0005690  ACTED_IN
2  tt0000001  nm0374658  ACTED_IN
3  tt0000002  nm0721526  ACTED_IN
4  tt0000002  nm1335271  ACTED_IN